body {
  background-color: #000000 !important;
}

header {
  background-image: none !important;
  background-color: #000000 !important;
}

header .MuiContainer-root {
  border-bottom: 1px solid #cccccc !important;
}

.MuiButton-root {
  text-transform: none;
  font-family: 'EB Garamond';
  font-size: 18px;
}

.line {
  width: 4px;
  height: 140px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 100px;
}